/*RESET*/
h1, h2, h3, h4 {
    margin: 0;
}

/*RESET*/
*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F0F0F0;
}

h1{
    color: #FF6A28;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
h2{
        font-size: 16px;
        color: #61656D;
        font-weight: 400;
        margin: 4px 0px 14px 0px;

    }


.container{
    background-color: #fff;
    width: 798px;
    height: 574px;
    border-radius: 5px;
    padding: 20px 26px 12px 27px;
    box-sizing: border-box;
}

.card-box
{
    width: 118px;
    height: 85px;
    background-color: #f0f0f0;
    border-radius: 5px;

}

.card-title{
    color: #61656D;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.card-info{
    color: #FF6A28;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.card-icon{
    margin: 0 auto;
}